                        head,
                    body {
                        display: block;
                        top: 0;
                        left: 0;
                        max-width: 1920px;
                        text-align: center;
                        overflow: hidden;
                    }
                    
                    body {
                        overflow-y: auto;
                    }
                    
                    header {
                        display: block;
                        width: 897px;
                        height: 309px;
                        background-image: url(../image/header\ \(2\).jpg);
                        background-repeat: no-repeat;
                        margin: 0 auto;
                        border-radius: 10px;
                        border: 1px solid rgba(255, 255, 255, 0.356);
                    }
                    
                    wrapper {
                        display: block;
                        margin: 0 auto;
                        width: 897px;
                        clear: right;
                    }
                    
                    panel {
                        display: flex;
                        width: 100%;
                        height: 50px;
                        border-radius: 10px;
                        text-align: center;
                        justify-content: center;
                        overflow: hidden;
                    }
                    
                    .panel-child {
                        display: block;
                        flex: 1;
                        margin: 0 1px;
                        border: 2px solid black;
                        background-color: gray;
                        border-radius: 5px;
                        text-align: center;
                        color: white;
                        font-size: x-large;
                    }
                    
                    left-panel {
                        display: block;
                        grid-template-rows: 8% auto 8% auto;
                        text-align: center;
                        justify-content: center;
                        width: 149px;
                        height: auto;
                        float: right;
                    }
                    
                    titr {
                        display: block;
                        border: 2px solid black;
                        border-radius: 5px;
                        margin: 1px 0.2px;
                        justify-content: center;
                        text-align: center;
                        left: 0;
                        width: 140px;
                        background-color: darkslategrey;
                        color: white;
                    }
                    
                    onvan {
                        display: block;
                        border: 2px solid black;
                        border-radius: 5px;
                        margin: 0.5px;
                        justify-content: center;
                        text-align: center;
                        width: 140px;
                        background-color: gray;
                        font-size: medium;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    center-panel {
                        display: block;
                        background-color: rgba(128, 128, 128, 0.103);
                        width: 585px;
                        border: 2px solid black;
                        border-radius: 5px;
                        margin: 2px auto;
                        height: auto;
                        clear: left;
                    }
                    
                    right-panel {
                        display: block;
                        grid-template-rows: 8% auto 8% auto;
                        text-align: center;
                        justify-content: center;
                        width: 149px;
                        height: auto;
                        margin: -61px 1px;
                    }
                    
                    footer {
                        display: block;
                        width: 897px;
                        height: 110px;
                        background-color: rgba(46, 45, 45, 0.199);
                        background-image: url(../image/footer.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: 0 auto;
                        border-radius: 10px;
                        border: 1px solid rgba(255, 255, 255, 0.356);
                        clear: right;
                    }
                    
                    @media all and (max-width: 1199px) {}
                    
                    @media all and (max-width: 991px) {}
                    
                    @media all and (max-width: 768px) {
                        @media all and (max-width: 575px) {}